CMakeCache.txt
CMakeFiles
cmake_install.cmake
**/CMakeFiles/
**/cmake_install.cmake
Makefile
CMakeHelloWorld
*.a
**/*.a
build/**
*.cbp
CMakeLists.txt.user
cmake-hello-world.json
manifest.json
.excludes
*.swp
